<head><title>LoopBack</title></head>
<body>
    <h1>CoRAWeb</h1>
    <p>CoRAWeb is a set of REST services to be used from various augmentation plugin</p>
    <p>While the augmentations facilities are implemented, you can use these shortcuts</p>
    <ul>
        <li>You can experiment with the services using the <a href="/explorer/">explorer</a></li>
    </ul>
</body>
